@use '@/app/mixins' as *;
// @include adaptiv-value("font-size", 24, 13);

.nav_wrapper {
    padding-bottom: 25px;
    border-bottom: 1px solid var(--white);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;


    @media (max-width: 768px) {
        display: none;
    }
}

.list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.link {
    font-weight: 400;
    @include adaptiv-value("font-size", 18, 16);
    transition: color 0.3s ease;

    &:hover {
        color: var(--blue);
    }
}

.link_homeColor {
    color: var(--white);
}

.link_otherColor {
    color: var(--toggle-color);
}

.active {
    color: var(--blue);
}

.nav_contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
}

.phone_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        font-weight: 700;
        @include adaptiv-value("font-size", 18, 16);
        transition: color 0.3s ease;
    }

    &:hover {
        color: var(--blue);
    }

    &:hover svg {
        fill: var(--blue);
    }
}

.phone_icon {
    fill: var(--white);
}

.phone_icon_black {
    fill: var(--black);
}

.icons_wrapper {
    display: flex;
    gap: 20px;
}

.icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--blue);

        svg {
            fill: var(--white);
        }
    }
}

.icon_homeColor {
    background-color: var(--white);

    svg {
        fill: var(--black);
    }
}

.icon_otherColor {
    background-color: var(--toggle-color);

    svg {
        fill: var(--reverse-color);
    }
}

.popup_logo {
    display: none;
}

.popup_close {
    display: none;
}

.popup_active {
    padding: 20px;
    background-color: var(--white);
    color: var(--black2);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100vh;

    .list {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .link {
        color: var(--black);
    }

    .phone_icon {
        fill: var(--black2);
    }

    .icon {
        transition: all 0.3s ease-in-out;
        background-color: var(--black2);
    }

    .icon svg {
        fill: var(--white);
    }

    .popup_logo {
        display: block;
        margin-bottom: 30px;
    }

    .popup_close {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
}

.link_homeColor {
    color: var(--white);
    transition: all 0.3s ease-in-out;


    &:hover {
        color: var(--blue);
    }
}

.link_otherColor {
    color: var(--toggle-color);
    transition: all 0.3s ease-in-out;

    
    &:hover {
        color: var(--blue);
    }
}