.header {
    padding: 25px 0;
}

.header_wrapper {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

.catalog_list {
    display: flex;
    align-items: center;
    column-gap: 30px;
    flex-wrap: wrap;

    a {
        display: block;
        padding: 10px 20px;
    }

    a:hover {
        color: var(--blue);
    }
}

.catalog_list_item {
    @media (max-width: 768px) {
        display: none;

        &:nth-child(1) {
            display: block;
        }
    }
}


.submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 55px;
    left: 0;

    width: 50%;
    min-height: 60vh;
    overflow-x: auto;

    background-color: var(--white);

    a {
        display: block;
        color: var(--black);
        padding: 10px 20px;
    }

    @media (max-width: 768px) {
        position: fixed;
        width: 100%;
        height: 100%;
    }
}

.submenu_active {
    opacity: 1;
    visibility: visible;

    a {
        display: block;
        color: var(--black);
        padding: 10px 20px;
    }
}

.catalog_item_active {
    color: var(--blue);
}

.submenu_2 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 55px;
    right: 0;
    width: 50%;
    z-index: 1;

    background-color: var(--white);

    a {
        display: block;
        color: var(--black);
        padding: 10px 20px;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }

    @media (max-width: 768px) {
        position: fixed;
        width: 100%;
        height: 100%;

    }
}

.text {
    color: var(--black);
    padding: 10px 0;
}