.designer_fckg_wrapper {
    max-width: 70%;

    @media (max-width: 780) {
        max-width: 100%;
    }
}

.section {
    margin-bottom: 100px;

    @media (max-width: 780) {
        margin-bottom: 20px;
    }
}