.cart_wrapper {
    display: flex;
    gap: 70px;

    margin: 0 0 40px 0;

    @media (max-width: 800px) {
        flex-direction: column;
        gap: 30px;
    }
}

.cart_item_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;

    @media (max-width: 800px) {
        width: 100%;
    }
}

