.cart_wrapper {
    display: flex;
    gap: 70px;

    margin: 0 0 40px 0;

    @media (max-width: 800px) {
        flex-direction: column;
        gap: 30px;
    }
}

.cart_item_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;

    @media (max-width: 800px) {
        width: 100%;
    }
}


.info_inner div {
    display: flex;
    justify-content: space-between;
}

.info_inner div p {
    margin-bottom: 30px;
}

.cart_info {
    height: 100%;
    width: 40%;
    padding: 40px;
    color: var(--gray);
    background-color: #f5f5f5;

    @media (max-width: 800px) {
        width: 100%;
    }
}


.btn_reset {
    cursor: pointer;
    margin-top: 20px;
    color: var(--gray);
    text-decoration: underline;

    border: none;
    background-color: transparent;

    &:hover {
      color: var(--blue);  
    }
    
    &:active {
        color: var(--yellow);  
    } 
}
