
.item_sku, .item_size, .item_height {
    font-weight: 400;
    color: var(--light-gray)
}

.item_title {
    font-weight: 700;
    color: var(--black);
}

.item_info {
    display: flex;
}

.item_btns {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.btn_link_cart {
    width: 188px;
    padding: 14px;
    border: 1px solid var(--black);
    border-radius: 10px;
    color: var(--toggle-color);
    background-color: var(--reverse-color);
}

.btn_link_checkout {
    width: 188px;
    padding: 14px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--blue);
}

.btn_link_wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
}

.total_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

}

.total_sum {
    display: flex;
    gap: 30px;

}

.total_p {
    color: var(--light-gray);
}

.total_price {
    color: var(--black);
    font-weight: 700;
}


.more_about_delivery {
    margin-top: 40px;
    color: var(--light-gray);
}