@use '@/app/mixins' as *;
// @include adaptiv-value("font-size", 24, 13);

.card {
    position: relative;

    background-color: var(--white);
    padding: 10px;
}

.item_price, .name, .item_sale_price {
    color: var(--black);
    font-weight: 700;
    margin-bottom: 15px;
}

.price_underline {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
}

.img_wrapper {
    margin-bottom: 10px;
}

.card_image {
    width: 100%;
}

.btn_wrapper {
    display: flex;
    gap: 5px;
    width: 100%;
}


.promo_badge {
    background-color: var(--orange);
    border-radius: 40px;
    color: var(--white);

    padding: 10px;
}

.badges_container {
    display: flex;
    gap: 10px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.favorite {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
}

.hit_badge {
    background-color: var(--blue);
    border-radius: 40px;
    color: var(--white);

    padding: 10px;
}