@use '@/app/mixins' as *;
// @include adaptiv-value("padding-top", 100, 40);


.tab_buttons_wrapper {
    padding: 35px 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

.tabs_btn {
    font-weight: 500;
    font-size: 20px;
    color: var(--toggle-color-gray);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn_active {
    color: var(--toggle-color);
    border-bottom: 2px solid var(--toggle-color);
}

.bold {
    font-weight: 600;
}