@use '@/app/mixins' as *;
// @include adaptiv-value("padding-top", 100, 40);

.tab_buttons_header {
    overflow: hidden;
}

.tab_buttons_wrapper {
    padding: 35px 0;
    display: flex;
    align-items: center;
    @include adaptiv-value("gap", 40, 20);

    @media (max-width: 520px) {
        overflow-x: auto;
    }
}

.tabs_btn {
    font-weight: 500;
    @include adaptiv-value("font-size", 20, 16);
    color: var(--toggle-color-gray);
    border: none;
    background-color: transparent;
    cursor: pointer;
    flex: 0 0 auto;
}

.btn_active {
    color: var(--toggle-color);
    border-bottom: 2px solid var(--toggle-color);
}

.bold {
    font-weight: 600;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;

    border: none;
    background: transparent;
    cursor: pointer;

    svg {
        stroke: var(--toggle-color);
    }
}