@use '@/app/mixins' as *;

.tel, .email {
    transition: all 0.3s ease-in-out;

    &:hover {
        color: var(--blue);
    }
    &:active {
        color: var(--orange);
    }
}

.button {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    @include adaptiv-value("font-size", 16, 14);
    border-radius: 6px;

    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    background-color: var(--blue);
    padding: 20px 10px;

    width: 100%;
    max-width: 256px;
    transition: all var(--anim-function);

    border: none;
    cursor: pointer;

    margin-bottom: 30px;
}
