.page {}

.text {
  font-size: 60px;
  font-family: var(--font-family);
}

.text2 {
  font-size: 60px;
  font-family: var(--font-family);
}

.text3 {
  font-size: 60px;
  font-family: var(--third-family);
}