@use '@/app/mixins' as *;
// @include adaptiv-value("font-size", 24, 13);

.section {
    padding-top: 20px;
    @include adaptiv-value("padding-bottom", 120, 50);
}

.title {
    font-weight: 700;
    font-size: 44px;
    color: var(--toggle-color);
    margin-bottom: 40px;

    @media (max-width: 768px) {
        font-size: 22px;
        margin-bottom: 30px;
    }
}

.section_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.thumbnail_wrapper {
    width: 100px;
    height: 100px;

    cursor: pointer;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;
}

.thumbnail_list {
    height: 100%;
    overflow: hidden;
}

.article {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #6b6b6b;
    margin-bottom: 30px;
}

.list_header,
.list_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.list_header_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: var(--toggle-color);
    margin-bottom: 10px;
}

.size,
.height {
    font-size: 16px;
    color: var(--gray);
    border-radius: 6px;
    background: var(--super-light-gray);
    text-align: center;
    padding: 10px 20px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    margin-bottom: 30px;
}

.total {
    font-weight: 700;
    font-size: 32px;
    color: var(--toggle-color);

    span {
        font-weight: 400;
        font-size: 19px;
        text-decoration: line-through;
        color: var(--gray);
    }
}