@use '@/app/mixins' as *;
// @include adaptiv-value("font-size", 24, 13);

.section {
    padding-top: 20px;
    @include adaptiv-value("padding-bottom", 120, 50);
}

.catalog_wrapper {
    display: grid;
    grid-template-columns: 20% 78%; 

    margin: 0 0 30px 0;
    gap: 2%; 
    align-items: start; 

    
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column; 
    }
}


.categories_list {
    position: sticky;
    top: 20px; /* Фиксируем позицию при скролле */
    height: fit-content;
}

.parent_cat h3 {
    // margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    padding: 20px 0;
    border-top: 1px solid var(--light-gray);
}


.parent_cat:last-child {
    border-bottom: 1px solid var(--light-gray);

}

.parent_cat:first-child {
    border-top: none;
}

  /* Базовые стили */
.parent_cat, .child_item, .grandchild_item {
  position: relative;
  transition: all 0.3s ease;
}

.grandchild_item, .child_item {
  margin-left: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;

}
.catalog_options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;

  margin-bottom: 30px;
}

.catalog_btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--toggle-color);

  padding: 15px;
  border: 1px solid var(--light-gray);
}

.child_item h4 {
  color: var(--toggle-color);
}

.child_item > * {
  font-weight: 400;
  color: var(--light-gray);
  margin-bottom: 10px;
  margin-left: 5px;
}

/* Активное состояние */
.parent_cat.active,
.child_item.active,
.grandchild_item.active {
  color: var(--primary-color);
  font-weight: bold;
}

/* Стрелки */
.arrow {
  position: absolute;
  right: 0;
  display: inline-block;
  margin-left: 8px;
  transition: transform 0.2s ease;
}

/* Контейнеры вложенных категорий */
.child_container,
.grandchild_container {
  overflow: hidden;
}

/* Анимация hover */
.child_item:hover,
.grandchild_item:hover {
  color: var(--orange);
}

.child_item:active,
.grandchild_item:active {
  color: var(--blue);
}


.catalog_options svg path {
  fill: var(--toggle-color);
}

.catalog_options .sort, .catalog_options .stock {
  display: flex;
  gap: 10px;
}