@use '@/app/mixins' as *;
// @include adaptiv-value("font-size", 24, 13);

.button_wrapper {
    border-radius: 6px;
    padding: 10px 23px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 88px;

    &.disabled {
        opacity: 0.6;
    }
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.span {
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
}