@use '@/app/mixins' as *;

// @include adaptiv-value("font-size", 24, 13);
.section {
    padding: 40px 0 0;
    overflow-x: auto;
}

.form {
    padding: 40px 0 0;
}

.form_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.form_item_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}