.search_wrapper {
    background-color: var(--white);
    padding: 22px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    @media (max-width: 560px) {
        padding: 15px 0;
    }
}

.wrapper {
    display: flex;
    gap: 10px;
    background-color: var(--white);
    border-bottom: 1px solid var(--black);
    padding-bottom: 20px;
}

.input {
    display: flex;
    width: 100%;
    background-color: var(--white);
    padding: 15px 30px;
    color: var(--black);

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    border: none;

    @media (max-width: 560px) {
        padding: 10px 15px;
    }
}

.input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
}

.delete {
    background-color: var(--white);
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

.submit {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 10px;
    padding: 6px 20px;
    border: none;
    width: 190px;
    cursor: pointer;
    transition: background-color var(--anim-function);

    &:hover,
    &:active {
        background-color: var(--hover-blue);
    }

    @media (max-width: 560px) {
        display: none;
    }
}